<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClientMapper">

<delete id="deleteClient">
delete from MEMBER 
where mem_id = #{memberId}
</delete>


<update id="disableMember">
	UPDATE member
	set MEM_RANK = 2
	where MEM_ID = #{memberId}
</update>

<select id="count" resultType="int">
select count(*) from member where mem_id = #{memberId}
</select>

</mapper>